{% extends "public_template.html" %}

{% block title %}Log In{% endblock %}
{% block main %}

<div id="login">
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="" method="post">
                      <h3 class="text-center text-dark">Login</h3>
                      <div class="form-group">
                          <label for="username" class="text-success">Username:</label><br>
                          <input type="text" name="username" id="username" class="form-control" required="required">
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-success">Password:</label><br>
                          <input type="text" name="password" id="password" class="form-control" required="required">
                      </div>
                      <div class="form-group">
                          <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                          <input type="submit" name="login" class="btn btn-success btn-md" value="Login">
                      </div>
                      <div id="register-link" class="text-right">
                          <a href="{{ url_for('auth.register') }}" class="text-primary">Register here</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% if get_flashed_messages() %}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      {% for message in get_flashed_messages() %}
        <div class="flash_error text-danger">{{ message }}</div>
      {% endfor %} 
    </div>
  </div>
{% endif %}


{% endblock %}