
h1 {
    color: blue;
}
@media only screen and (max-width: 767px) {
  .media {
        align-items: center !important;
    }
} 

.projects-contenidor{
  margin: 5% auto !important;

}

html{
  height: 100%;
  background-color: white;
}

body {
  background-color: #9C9C9C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
  margin: 0 auto;
}
/* Login and Register style  */
.login {
  margin: 5% auto !important;
  width: 50%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register {
  margin: 5% auto !important;
  width: 50%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




